@tailwind base;
@tailwind components;
@tailwind utilities;



  div {
    scrollbar-width: thin;
  
  }


.custom-scrollbar {
    scrollbar-color: #7A7C7E #363C43;
    border-radius: 15px; 
    height: 100px;
  }
  .imgsection {
    overflow-x: scroll; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  }
  
  .imgsection::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
  }
  
  .imgsection {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  